.btn2{
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
}

.fvrt{
    border-image: radial-gradient(red 69%, #0000 70%) 84.5% fill/100;

}

.heart{
    display: inline-block;
    width: 40px;
    aspect-ratio: 1;
    clip-path: polygon(-41% 0, 50% 91%,141% 0);
    background-color: transparent;
    cursor: pointer;
}
.unFvrt{
    border-image: radial-gradient(rgb(14,0,0) 69%, rgba(1,0,0,0) 70%) 84.5% fill/100%; 
}